#footer {
  margin-top: 50px;
}

.like-button {
  position: absolute;
  bottom: -25px;
  left: 20px;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-body {
  z-index: 2;
}

#home-header {
  background-image: url('/img/cover-home.jpeg');
  margin-bottom: -3rem;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.icon-liked {
  color: red;
}

.icon-events-none {
  pointer-events: none;
  opacity: 0.5;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5f5;
}

nav img {
  width: 40px;
  border-radius: 100%;
  margin-left: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.password-toggle {
  border-radius: 40px;
  font-size: 14px;
}

.bg-light-green {
  background-color: #2b9da2;
}

.bg-superlight-green {
  background-color: #2b9da299;
}

.c-light-green {
  color: #2b9da2;
}

.c-white {
  color: white !important;
}

button.bg-light-green:hover,
a.bg-light-green:hover {
  background-color: #258085 !important;
}

.font-weight-semi {
  font-weight: 600;
}

.c-dark-gray {
  color: #505050;
}

.password-toggle:hover {
  color: rgb(58, 58, 58);
}

.custom-form-control {
  box-shadow: 0px 0px 19px -4px rgb(0 0 0 / 5%);
  border-radius: 40px;
  font-size: 14px;
}

#search-wrapper {
  background-color: white;
  padding: 0.5rem;
  border-radius: 30px;
  padding-left: 2rem;
  width: 100%;
  box-shadow: 0px 0px 19px -4px rgb(0 0 0 / 3%);
}

#footer {
  box-shadow: 0px -15px 15px -8px rgba(0, 0, 0, 0.05);
  margin-top: 6rem;
}

button.bg-dark-blue:hover,
a.bg-dark-blue:hover {
  background-color: #272952;
}

.card-img-top-wrapper {
  overflow: hidden;
  margin: 1rem;
  border-radius: 0.5rem;
  max-height: 135px;
}

.actions-card-button {
  top: 0.5rem;
  right: 0.5em;
}

.actions-card-button div a {
  border-width: 2px !important;
  font-size: 0.85rem;
}

.actions-card-button div .border-danger:hover {
  background-color: #dc3545!important;
  color: white !important;
}

.actions-card-button div .border-secondary:hover {
  background-color: #6c757d!important;
  color: white !important;
}

.card .card-title {
  font-weight: 600;
  margin-top: -0.5rem;
}

.card .card-description {
  font-size: 12px;
  color: grey;
}

.card-address {
  font-size: 15px;
  color: grey;
}

.card .card-address {
  font-size: 10px;
}

.card-address i::before {
  color: red;
}

.card {
  box-shadow: 0px 0px 19px -4px rgb(0 0 0 / 12%);
  border: 1px solid rgb(0 0 0 / 5%) !important;
  border-radius: 0.45rem !important;
}


.image_picker_selector .thumbnail p {
  text-align: center;
  margin: 4px 0;
}

ul.thumbnails.image_picker_selector li .thumbnail.selected {
  background: #2c9ca2;
  font-weight: 600;
}